.container {
  width: 80%;
  margin: auto;
}
.d-flex {
  display: flex;
  flex-direction: column;
  margin: 2em;
  justify-content: center;
  align-items: center;
}
.form-control {
  margin: 1em;
  padding: 4px 8px;
  width: 80%;
  height: 2em;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #a09f9f;
}
.form-message {
  height: 10em;
  resize: none;
}

.btn-primary {
  color: #000000;
  background-color: #d59143;
  font-weight: bold;
  font-size: .9em;
}
.btn {
  margin-top: 1em;
  border: none;
  cursor: pointer;
  width: 10em;
  height: 6ex;
  border-radius: 10px;
}
.btn:hover {
  background-color: #efaa5b;
}