.navbar {
  background-color: #faf9f9;
  border-bottom: 1px solid black;
}

.container {
  width: 100%;
  text-align: center;
}

.nav-links {
  padding-block: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.nav-links a {
  text-decoration: none;
  font-size: 2em;
  color: black;
}